<h1>All Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <p><%= link_to song.name, song %></p> - <%= link_to song.artist.name, song.artist %> - <%= link_to song.genre.name, song.genre %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a new Song', new_song_path %>
